.footer {
  border-top: 1px solid var(--color-gray-800);
  padding: 1rem;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
}

.footerText {
  text-decoration: none;
}

.settings {
  display: flex;
  gap: 1rem;
}

.setting {
  /* display: flex; */
  /* align-items: center; */
  /* gap: 0.5rem; */

  border: 1px solid green;
}
