.nav {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.2rem, 1.5vw, 1rem);
  width: 100%;
}

.link {
  border-radius: 0.375rem;
  padding: clamp(0.4rem, 2.5vw, 1rem);
  outline: 1px solid var(--color-green-700);
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 0 5px 1px var(--color-green-300);
  transition:
    color 0.15s,
    background-color 0.15s,
    transform 0.15s;
}

.linkActive {
  background-color: var(--color-green-500);
  color: var(--color-black);
  scale: 1.25;
  font-weight: 900;
}

.linkInactive {
  color: var(--color-gray-400);
}

.linkInactive:hover {
  background-color: var(--color-gray-500);
  color: var(--color-white);
  transform: perspective(300px) rotateX(15deg);
}

@media (max-width: 640px) {
  .nav {
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem;
  }
  .mobileHidden {
    display: none;
  }
}

.disabled {
  border-radius: 0.375rem;
  cursor: not-allowed;
  padding: clamp(0.4rem, 2.5vw, 1rem);
  box-shadow: 0 0 5px 0px var(--color-green-700);

  color: var(--color-gray-200);
  background: transparent;
}
